.tableOne {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #00ffff;
	
	-moz-border-radius-bottomleft:25px;
	-webkit-border-bottom-left-radius:25px;
	border-bottom-left-radius:25px;
	
	-moz-border-radius-bottomright:25px;
	-webkit-border-bottom-right-radius:25px;
	border-bottom-right-radius:25px;
	
	-moz-border-radius-topright:25px;
	-webkit-border-top-right-radius:25px;
	border-top-right-radius:25px;
	
	-moz-border-radius-topleft:25px;
	-webkit-border-top-left-radius:25px;
	border-top-left-radius:25px;
}.tableOne table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.tableOne tr:last-child td:last-child {
	-moz-border-radius-bottomright:25px;
	-webkit-border-bottom-right-radius:25px;
	border-bottom-right-radius:25px;
}
.tableOne table tr:first-child td:first-child {
	-moz-border-radius-topleft:25px;
	-webkit-border-top-left-radius:25px;
	border-top-left-radius:25px;
}
.tableOne table tr:first-child td:last-child {
	-moz-border-radius-topright:25px;
	-webkit-border-top-right-radius:25px;
	border-top-right-radius:25px;
}.tableOne tr:last-child td:first-child{
	-moz-border-radius-bottomleft:25px;
	-webkit-border-bottom-left-radius:25px;
	border-bottom-left-radius:25px;
}.tableOne tr:hover td{
	
}
.tableOne tr:nth-child(odd){ background-color:#0000ff; }
.tableOne tr:nth-child(even)    { background-color:#ff0000; }.tableOne td{
	vertical-align:middle;
	
	
	border:1px solid #00ffff;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:15px;
	font-size:10px;
	font-family:Georgia;
	font-weight:normal;
	color:#000000;
}.tableOne tr:last-child td{
	border-width:0px 1px 0px 0px;
}.tableOne tr td:last-child{
	border-width:0px 0px 1px 0px;
}.tableOne tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tableOne tr:first-child td{
		background:-o-linear-gradient(bottom, #0000ff 5%, #ff0000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0000ff), color-stop(1, #ff0000) );
	background:-moz-linear-gradient( center top, #0000ff 5%, #ff0000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0000ff", endColorstr="#ff0000");	background: -o-linear-gradient(top,#0000ff,ff0000);

	background-color:#0000ff;
	border:0px solid #00ffff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Georgia;
	font-weight:bold;
	color:#ffffff;
}
.tableOne tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #0000ff 5%, #ff0000 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0000ff), color-stop(1, #ff0000) );
	background:-moz-linear-gradient( center top, #0000ff 5%, #ff0000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0000ff", endColorstr="#ff0000");	background: -o-linear-gradient(top,#0000ff,ff0000);

	background-color:#0000ff;
}
.tableOne tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.tableOne tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}